**/target
**/*.iml
**/.idea
**/results
**/testResults
**/example02-jopa-owlapi/repository.owl
**/example03-jopa-rdf4j-contexts/repositories
**/example05-jopa-owl2query/repository.owl
**/node_modules
**/generated-sources
**/generated/model
**/build
**/.vscode
**/withoutPersistenceUnitLanguage.ttl
**/withPersistenceUnitLanguage.ttl
