html {
  height: 100% !important;
}

body {
  height: 100% !important;
  flex-direction: column !important;
  display: flex !important;
  position: relative;
}

#root {
  height: 100% !important;
  flex-direction: column !important;
  display: flex !important;
  position: relative;
}
